name: Build Plugin

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  
    
#  workflow_dispatch:
#    inputs:
#      build_configuration:
#        description: 'Build configuration'
#        default: 'Release'

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v2
    - uses: microsoft/setup-msbuild@v1.0.2
    - uses: actions/download-artifact@v2
    
    - name: Download Valheim
      run: |
        dotnet contrib/depotdownloader-2.5.0/DepotDownloader.dll -app 896660 -os windows -filelist .depot-downloader-file-list.txt -dir serverfiles
        
    - name: build
      env:
        VALHEIM_DEDI_INSTALL: serverfiles
      run: |
        msbuild /t:Restore,Build -p:Configuration=Release
        
    - name: upload
      uses: actions/upload-artifact@v2
      with:
        name: serverside-simulations-${{ github.sha }}
        path: bin\Release\Serverside_Simulations.dll

      
